body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14bdac;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav h1{
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 0;
}

.bo5{
    margin-top: 0px;
    color: rgb(0, 0, 0, 0.75);
    font-size: 22px;
    font-weight: bold;
}

nav p{
    color: aliceblue;
    font-size: 30px;
}

span{
    color: rgb(0, 0, 0, 0.8);
}

nav fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}

nav fieldset label{
    color: rgb(0, 0, 0, 0.8);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

nav input[type=button]{
    margin-top: 5px;
    background-color: rgb(0, 0, 0, 0.45);
    border: 3px solid rgb(0, 0, 0, 0.01);
    color: aliceblue;
    cursor: pointer;
    font-size: 12px;
}

#jogadorX{
    margin-bottom: 6px;
}

#placar{
    display: flex;
    position: absolute;
    z-index: 2;
    margin-bottom: 585px;
}

#placarx, #placaro{
    font-family: 'Press Start 2P', cursive;
    color: #0da192;
    padding-top: 2px;
}

.po, .px{
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.po{
    background-color: aliceblue;
}

.px{
    background-color: lightgray;
}

#vx, #vo{
    margin-top: 18px;
}

.po{
    margin-left: 5px;
    width: 130px;
}

.px{
    margin-right: 5px;
    width: 130px;
}

img{
    width: 20px;
    height: 20px;
}

#mostrador{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-bottom: 480px;
    font-weight: lighter;
    color: white;
}

#mostradorO{
    position: absolute;
}

header{
    display: grid;
    grid-template-areas: 'a1 a2 a3'
                         'b1 b2 b3'
                         'c1 c2 c3';
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 20vh 20vh 20vh;
    grid-gap: 15px;  
    background-color: #0da192;  
    position: absolute;
    z-index: 3;  
    margin-top: 50px;
}

section{
    width: 100%;
    height: 100%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #14bdac;
}

#a1, #a2, #a3, #b1, #b2, #b3, #c1, #c2, #c3{
    cursor: pointer;
}

#a1{
    grid-area: a1;
}
#a2{
    grid-area: a2;
}
#a3{
    grid-area: a3;
}
#b1{
    grid-area: b1;
}
#b2{
    grid-area: b2;
}
#b3{
    grid-area: b3;
}
#c1{
    grid-area: c1;
}
#c2{
    grid-area: c2;
}
#c3{
    grid-area: c3;
}
