body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14bdac;
}

body > div:nth-child(1){
    display: flex;
    margin-bottom: 585px; 
    position: absolute;
    z-index: 2;
}

body > div:nth-child(1) > div:nth-child(1){
    background-color: lightgray;
}

body > div:nth-child(1) > div:nth-child(2){
    background-color: aliceblue;
}

body > div:nth-child(1) > div:nth-child(1),
body > div:nth-child(1) > div:nth-child(2){
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    width: 130px;
}

body > div:nth-child(1) > div:nth-child(1) > p:nth-child(2),
body > div:nth-child(1) > div:nth-child(2) > p:nth-child(2){
    color: #0da192;
    font-family: 'Press Start 2P', cursive;
    padding-top: 2px;
}

body > div:nth-child(2){
    display: flex;
    position: absolute;
    z-index: 1;
    margin-bottom: 480px;
    font-weight: lighter;
    color: white;
}

body > div:nth-child(2) > p:nth-child(1){
    position: absolute;
}

img{
    width: 20px;
    height: 20px;
}

main{
    background-color: #0da192;
    display: grid;
    grid-gap: 15px;  
    grid-template-areas: 'a1 a2 a3'
                         'b1 b2 b3'
                         'c1 c2 c3';
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 20vh 20vh 20vh;
    margin-top: 50px;
    position: absolute;
    z-index: 3;  
}

main section{
    cursor: pointer;
}

main > section:nth-child(1){
    grid-area: a1;
}

main > section:nth-child(2){
    grid-area: a2;
}

main > section:nth-child(3){
    grid-area: a3;
}

main > section:nth-child(4){
    grid-area: b1;
}

main > section:nth-child(5){
    grid-area: b2;
}

main > section:nth-child(6){
    grid-area: b3;
}

main > section:nth-child(7){
    grid-area: c1;
}

main > section:nth-child(8){
    grid-area: c2;
}

main > section:nth-child(9){
    grid-area: c3;
}

section{
    width: 100%;
    height: 100%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #14bdac;
}
