@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #5144A6;
  color: white;
  margin: 0;
  padding: 0 85px;
}

header {
  margin: 45px 0;
}

header h1 {
  font-size: 2.75rem;
  margin: 0;
}

header h1 #word-tip {
  font-size: 4.25rem;
  text-transform: uppercase;
}

header p {
  margin: 0;
  text-align: end;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

main #word {
  font-size: 2.5rem;
  text-transform: uppercase;
}
main #keyboard {
  margin-top: 50px;
}

main #keyboard button {
  background-color: white;
  border: none;
  border-radius: 3px;
  color: #5144A6;
  cursor: pointer;
  font-weight: 700;
  height: 55px;
  width: 40px;
}


main #keyboard button:disabled {
  background-color: rgb(53, 53, 53);
  color: white;
  cursor: not-allowed;
}

main #keyboard button:enabled:hover {
  background-color: rgb(155, 155, 155);
}
